      <div id="app"></div>
      <script src="/dist/bundle.js"></script>
    </div>
  </body>
  <footer>
    <div class="ui borderless menu inverted fluid ">
      <a class="item" href="https://www.linkedin.com/in/peter-x-tan/">
        <img type="image/png" src="/assets/LI.png"> LinkedIn
      </a>
      <a class="item" href="https://www.facebook.com/TannaciousXP">
          <img type="image/png" src="/assets/FB.png">  Facebook
      </a>
      <a class="item" href="https://www.github.com/TannaciousXP">
          <img type="image/png" src="/assets/GH.png">  Github
      </a>
      <a class="item" href="mailto:pxhtan@gmail.com">
          <img type="image/png" src="/assets/EM.png">  E-mail
      </a>
    </div>
  </footer>
</html>