      <div id="app"></div>
      <script src="/dist/bundle.js"></script>
    </div>
  </body>
  <footer>
    <div class="ui borderless menu inverted fluid ">
      <a class="item">
        <i class="linkedin square large fitted icon"></i> LinkedIn
      </a>
      <a class="item">
          <i class="facebook square large fitted icon"></i> Facebook
      </a>
      <a class="item">
          <i class="github square large fitted icon"></i> Github
      </a>
      <a class="item">
          <i class="mail large fitted icon"></i> E-mail
      </a>
    </div>
  </footer>
</html>