     
  <div class="ui container fluid">
    <div id="app">
          <div id="preloader">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
      </div>
      <script src="/dist/bundle.js"></script>
  </div>
  </body>
  <footer>
    <div class="ui borderless menu inverted fluid ">
      <a class="item" href="https://www.linkedin.com/in/peter-x-tan/">
        <img type="image/png" src="/assets/logos/LI.png"> LinkedIn
      </a>
      <a class="item" href="https://www.github.com/TannaciousXP">
          <img type="image/png" src="/assets/logos/GH.png">  Github
      </a>
      <a class="item" href="https://www.facebook.com/TannaciousXP">
          <img type="image/png" src="/assets/logos/FB.png">  Facebook
      </a>
      <a class="item" href="mailto:pxhtan@gmail.com">
          <img type="image/png" src="/assets/logos/EM.png">  E-mail
      </a>
    </div>
  </footer>
  </html>