/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Body ---------------------------------------- */

html {
  overflow-y: auto;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
  min-width: 600px;
  background-color: #323241;
}

body {
	display: flex;
  flex-direction: column;
  background-color: #fff;
}

#header {
  margin: 0% !important;
  position: relative;
}

#app {
	flex-grow: 1;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
  align-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  background-attachment: fixed;
  background-position: center;
  flex-direction: column;
}

footer {
	min-height:53px;
}
/*
border-top: 1px solid rgba(207, 0, 15, .55);
border-bottom: 1px solid rgba(255, 255, 255, .2);
*/
/* Change the container with id app to have 100% height */
#wrapper {
  height: 100%;
	overflow-y: auto;
  display: flex;
  flex-direction: column;
}
/* Change button color of red */
.ui.inverted.red.button {
  color: #CF000F;
  box-shadow: rgb(207, 0, 15) 0px 0px 0px 2px inset !important;
}
.ui.inverted.red.button:hover {
  background-color: #CF000F;
  border-color: #CF000F;
}


/* Having the content able to be centered */
.ui.move.reveal .visible.content {
  width: 100%;
}
.ui.move.reveal .hidden.content {
  height: 100%;
}
/* Change the image padding and marigin */
.ui.move.reveal .hidden.content .ui.button {
  padding: 0%;
  margin: 0%;
  background: transparent;
  width: 100%;
}
/* Change the opacticy of the raised segment */
.ui.raised.segment {
  background:rgba(66, 66, 66, 0.55);
}
/* Change the ui.cell.grid border color and margin*/
.head.intro {
  color: #CF000F;
  margin-bottom: 0%;
}
/* Change the intro to have white font color */
.intro.content {
  color: rgb(238, 238, 238);
}
/* Change reveal content Image height to 150px */
.ui.move.reveal .ui.small.image {
  height: 150px;
}
/* Change divider color to red */
.ui.grid.column .ui.divider {
  border-top: 1px solid rgba(207, 0, 15, .55);
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}
/* Change blogs font to white and 5rem */
.ui.header.blog {
  font-size: 4rem;
  color: rgb(238, 238, 238);
  margin: 0%;
  font-family: 'Helvetica Neue';
}
/* Change Reveal Modals Color*/
.ui.modal>.header  {
  color: rgba(207, 0, 15, .9);
  background: rgba(0, 0, 0, .85);
}
.ui.modal>.actions {
  background: rgba(0, 0, 0, .85);
}
/* Change Projects title */
.project.title {
  background: rgba(0, 0, 0, .85);
  justify-content: left !important;
  /* align-items: left !important;
  align-content: left !important; */

}

.title.repo {
  color: #fff;
  margin-left: 2.38em;
  /* margin: 0; */
}
/* Justifie content for ui.cards */
.ui.cards {
  justify-content: center;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  font-size: 1em;
}
.ui.card .meta, .ui.cards>.card .meta {
  font-size: 0.9em;
}

.ui.red.tiny.button {
  vertical-align: bottom;
}

/* Change colomns in card to have margin of 16 on the bottom */
.projects {
  padding-bottom: 1rem;
}
/* Header ---------------------------------------- */

.ui.inverted.vertical.segment {
	padding-top: 0em;
	padding-bottom: 0.5625em;
}


.ui.secondary.pointing.menu .active.item {
	border-color: #CF000F !important;
	/* border-top-style: solid; */
	border-width: 3px;
	padding-bottom: 0.125em;
}
.ui.secondary.pointing.menu .item {
	padding-top: 0.5em !important;
	padding-bottom: 0.3125em !important;
}

/* cardsDisplay ---------------------------------------- */

.card {
  align-items: center;
}

.cardsDisplay {
  display: flex;
  flex-direction: column;
}

.cardsDisplay a.ui.red.mini.ui.button {
  margin: 3px;
  align-self: center;
}

.ui.card .meta, .ui.cards>.card .meta {
  color: #616161;
}

/* subLinks ---------------------------------------- */
.subLinks {
  color: #CF000F;
}

a.subLinks:hover {
  cursor: pointer;
  color: #8F1D21;
}

/* text ---------------------------------------- */
.text {
  color: rgb(224, 224, 224);
  text-align: justify;
  font-size: large;
}
.text2 {
  color: rgb(224, 224, 224);
  text-align: center;
  font-size: large;
  margin-top: 0.3125em;
}

.text3 {
  color: rgb(158, 158, 158);
}

/* beforeAfter ---------------------------------------- */
.beforeAfter {
  display: inline-flex !important;
}

/* slideWrapper ---------------------------------------- */

.swiper-container {
  background-color: rgba(0, 0, 0, .85);
}

.swiper-pagination-bullet-active {
  background: #CF000F !important;
}

.swiper-button-next {
  background-image: url('/assets/logos/right.png') !important;
}

.swiper-button-prev {
  background-image: url('/assets/logos/left.png') !important;
}

/* Preloader ---------------------------------------- */

#preloader {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-align-items: center; /* Safari 7.0+ */
	align-items: center;
	-webkit-align-content: center;
	align-content: center;
	justify-content: center;
}

#preloader span {
	width: 30px;
	height: 30px;
	background: black;
	opacity: 0.8;
	border-radius: 30px;
	-webkit-animation: preloader 1s infinite ease-in-out; /* Safari 4.0 - 8.0 */
	animation: preloader 1s infinite ease-in-out;
}

#preloader span:nth-child(2) {
	animation-delay: .2s;
}
#preloader span:nth-child(3) {
	animation-delay: .4s;
}
#preloader span:nth-child(4) {
	animation-delay: .6s;
}
#preloader span:nth-child(5) {
	animation-delay: .8s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes preloader {
	0% {opacity: 0.8; -webkit-transform: translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
	50% {opacity: 1; -webkit-transform: translateY(-10px); background: #CF000F; box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.5);}
	100% {opacity: 0.8; -webkit-transform: translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
}

/* Standard syntax */
@keyframes preloader {
	0% {opacity: 0.8; transform: translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
	50% {opacity: 1; transform: translateY(-10px); background: #CF000F; box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.5);}
	100% {opacity: 0.8; transform: translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
}



/* Footer---------------------------------------- */

.ui.borderless.menu.inverted {
	position: absolute;
	bottom: 0px;
	border-radius: 0%;
	justify-content: center;
}

.ui.borderless.menu.inverted a:hover {
	color: #CF000F;
}

.ui.borderless.menu.inverted .icon {
	color: #CF000F;
}

.ui.borderless.menu.inverted img {
	height: 1em;
	width: 1em;
	vertical-align: middle;
	font-size: 1.5em;
	margin: 0px 0.35em 0px 0px;
}



/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/*
alizarin: #e74c3c
monza: #CF000F
true red: #8F1D21
*/
