/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Body ---------------------------------------- */

html {
  overflow-y: auto;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
  min-width: 600px;
  background-color: #323241;
}

body {
	display: flex;
  flex-direction: column;
  background-color: #fff;
}

#nav {
  margin: 0% !important;
}

#app {
	flex-grow: 1;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  background-attachment: fixed;
  background-position: center;
}

footer {
	min-height:53px;
}
/*
border-top: 1px solid rgba(207, 0, 15, .55);
border-bottom: 1px solid rgba(255, 255, 255, .2);

*/
/* Having the content able to be centered */
.ui.move.reveal .visible.content {
  width: 100%;
}
.ui.move.reveal .hidden.content {
  height: 100%;
}
/* Change the opacticy of the raised segment */
.ui.raised.segment {
  background:rgba(255, 255, 255, 0.5);
}
/* Change the ui.cell.grid border color and margin*/
.head.intro {
  color: #CF000F;
  margin-bottom: 0%;
}
/* Change the intro to have white font color */
.intro.content {
  color: #fff;
}
/* Change reveal content Image height to 150px */
.ui.move.reveal .hidden.content .ui.small.image {
  height: 150px;
}
/* Change divider color to red */
.ui.grid.column .ui.divider {
  border-top: 1px solid rgba(207, 0, 15, .55);
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}
/* Header ---------------------------------------- */

.ui.inverted.vertical.segment {
	padding-top: 0em;
	padding-bottom: 0.5625em;
}


.ui.secondary.pointing.menu .active.item {
	border-color: #CF000F !important;
	/* border-top-style: solid; */
	border-width: 3px;
	padding-bottom: 0.125em;
}
.ui.secondary.pointing.menu .item {
	padding-top: 0.5em !important;
	padding-bottom: 0.3125em !important;
}

/* Preloader ---------------------------------------- */

#preloader {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-align-items: center; /* Safari 7.0+ */
	align-items: center;
	-webkit-align-content: center;
	align-content: center;
	justify-content: center;
}

#preloader span {
	width: 30px;
	height: 30px;
	background: black;
	opacity: 0.8;
	border-radius: 30px;
	-webkit-animation: preloader 1s infinite ease-in-out; /* Safari 4.0 - 8.0 */
	animation: preloader 1s infinite ease-in-out;
}

#preloader span:nth-child(2) {
	animation-delay: .2s;
}
#preloader span:nth-child(3) {
	animation-delay: .4s;
}
#preloader span:nth-child(4) {
	animation-delay: .6s;
}
#preloader span:nth-child(5) {
	animation-delay: .8s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes preloader {
	0% {opacity: 0.8; -webkit-transform: translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
	50% {opacity: 1; -webkit-transform: translateY(-10px); background: #CF000F; box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.5);}
	100% {opacity: 0.8; -webkit-transform: translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
}

/* Standard syntax */
@keyframes preloader {
	0% {opacity: 0.8; transform: translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
	50% {opacity: 1; transform: translateY(-10px); background: #CF000F; box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.5);}
	100% {opacity: 0.8; transform: translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
}

h3.ui.header {
	top: 42%;
	color: #CF000F;
	font-family: "Arial";
	text-align: center;
	align-self: center;

}

/* Footer---------------------------------------- */

.ui.borderless.menu.inverted {
	position: absolute;
	bottom: 0px;
	border-radius: 0%;
	justify-content: center;
}

.ui.borderless.menu.inverted a:hover {
	color: #CF000F;
}

.ui.borderless.menu.inverted .icon {
	color: #CF000F;
}

.ui.borderless.menu.inverted img {
	height: 1em;
	width: 1em;
	vertical-align: middle;
	font-size: 1.5em;
	margin: 0px 0.35em 0px 0px;
}



/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/*
alizarin: #e74c3c
monza: #CF000F
true red: #8F1D21
*/
