<% include ../head.ejs %>
  <div class="ui inverted vertical segment">
    <div class="ui inverted secondary pointing menu">
      <a href="/" class="item" style="margin-left: 5em">HOME</a>
      <a href="/about" class="item">ABOUT</a>
      <a href="/projects" class="item">PROJECTS</a>
      <a href="/blogs" class="active item">BLOGS</a>
    </div>
  </div>
</div>
<% include ../foot.ejs %>
