<% include ../head.ejs %>
<div class="ui inverted vertical segment">
  <div class="ui inverted secondary pointing menu">
    <a href="/" class="active item" style="margin-left: 5em">HOME</a>
    <a href="/about" class="ui teal button small">ABOUT</a>
    <a href="/projects" class="ui teal button small">PROJECTS</a>
  </div>
</div>  
<% include ../foot.ejs %>